:host {
    display: contents;
}

.sidebar-container {
    position: fixed;
    top: 40px;
    left: 0;
    height: calc(100% - 40px);
    width: 256px;
    background-color: #181818;
    z-index: 30;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    transform: translateX(-100%);

    @media (min-width: 1024px) {
        transform: translateX(0);
    }

    &.open {
        transform: translateX(0);
    }
}

.sidebar-content {
    padding: 32px;
    /* p-8 */
    display: flex;
    flex-direction: column;
    height: 100%;

    .none-box {
        width: 48px;
        height: 48px;
        margin-bottom: 24px;
    }

    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;

        li+li {
            margin-top: 16px;
            /* space-y-4 */
        }

        .nav-link {
            font-size: 18px;
            /* text-lg */
            line-height: 28px;
            font-weight: 600;
            /* font-semibold */
            cursor: pointer;
            transition: color 0.2s;
            color: #d1d5db;
            /* text-gray-300 */
            text-decoration: none;
            display: block;

            &:hover {
                color: #fde047;
                /* hover:text-yellow-300 */
            }

            &.active {
                color: #facc15;
                /* text-yellow-400 */
            }
        }
    }

    .footer {
        margin-top: auto;
        font-size: 14px;
        /* text-sm */
        line-height: 20px;
        color: #6b7280;
        /* text-gray-500 */
    }
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* bg-black/50 */
    z-index: 20;

    @media (min-width: 1024px) {
        display: none;
    }
}