<main class="app-main">
  <app-sidebar 
    [isOpen]="isSidebarOpen()"
    [sections]="sections"
    [activeSectionId]="activeSection()"
    (sectionNavigate)="scrollToSection($event)"
    (closeSidebar)="toggleSidebar()">
  </app-sidebar>


  
  <button (click)="toggleSidebar()" class="mobile-logo">
    <img src="assets/icons/logo.svg" alt="Home Logo">
  </button>

  <div #mainContainer class="scroll-container relative">
    <app-home id="home"></app-home>
    <app-philosophy id="philosophy"></app-philosophy>
    <app-projects 
      id="projects" 
      (scrollThrough)="handleScrollThrough($event)"
      [isPageScrolling]="isScrolling()">
    </app-projects>
    <app-career id="career"></app-career>
    <app-blog id="blog"></app-blog>
    <app-contact id="contact"></app-contact>
  </div>

  <app-d-alert></app-d-alert>
</main>
