<div class="toast-container" [ngClass]="[type, fadingOut ? 'fading-out' : '']" (click)="close()">
  <div class="toast-icon">
    <!-- Success Icon -->
    @if (type === 'success') {
    <img src="/assets/icons/system/ic-success.svg" alt="성공">
    }
    <!-- Info Icon -->
    @if (type === 'info') {
    <img src="/assets/icons/system/ic-info.svg" alt="정보">
    }
    <!-- Warn Icon -->
    @if (type === 'warn') {
    <img src="/assets/icons/system/ic-warn.svg" alt="경고">
    }
    <!-- Error Icon -->
    @if (type === 'error') {
    <img src="/assets/icons/system/ic-error.svg" alt="에러">
    }
  </div>
  <div class="toast-content">
    <div class="toast-title">{{ getTitle() }}</div>
    <div class="toast-message">{{ message }}</div>
  </div>
</div>